<div class="PaperMain">
    <div class="papercontent">
        <div class="headingPaper" routerLink="">
            <img src="./assets/paperHead.png" alt="">
            <div class="centered">Ismael Khan Portfolio</div>
    </div>
    <div class="paperNav">
        <div class="buttonPaper">
            <img src="./assets/paperHead.png" alt="">
            <div class="centered">Previous Projects</div>
        </div>
        <div class="buttonPaper">
            <img src="./assets/paperHead.png" alt="">
            <div class="centered">Current Projects</div>
        </div>
        <div class="buttonPaper">
            <img src="./assets/paperHead.png" alt="">
            <div class="centered">Future Projects</div>
        </div>
    </div>
    <div class="Cards">
        <div class="sectionPaper">
            <img src="./assets/paperHead.png" alt="">
            <div class="centered">Featured Projects</div>
    </div>
        <div class="cardSection">
            
            <div class="FullCard">
                <img  class="polarCard" src="./assets/ArcMapsCard.png" alt="">
                <div class="centered">ArcMaps Projects</div>
            </div>
            <div class="FullCard">
                <img  class="polarCard" src="./assets/MongoCard.png" alt="">
                <div class="centered">MongoDB Projects</div>
            </div>
            <div class="FullCard">
                <img  class="polarCard" src="./assets/TravelCard.png" alt="">
                <div class="centered">Travel Project</div>
            </div>
        </div>
    </div>
    </div>
    
</div>