.sidenav-container {
  height: 100%;

}

.sidenav {
  width: 200px;
}

.sidenav{
  background: inherit;
}

mat-sidenav-content mat-toolbar {
  display: flex;
  padding: 0;
  
}

mat-sidenav-content mat-toolbar button{
  display: flex;
  float: right;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 0;
  margin: 0;
}

mat-sidenav-content mat-toolbar a {
  display: flex;
  border-radius: 0;
  align-items: center;
  background-color: #04AA6D;
  color: white;
  align-self:stretch;
}

.mat-sidenav-content{
  position: sticky;
  top: 0;
  z-index: 1;
  background: white;
}

.example-spacer{
  flex: 1 1 auto;
}
