.sidenav-container {
  height: 100%;
}
.mat-sidenav-content::-webkit-scrollbar { /* WebKit */
  display: none;
  overflow: hidden;
  width: 0;
  height: 0;
  overflow-y: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; }
.sidenav {
  
  width: 200px;
}




mat-sidenav-content mat-toolbar {
  display: flex;
  z-index: 1;
  padding: 0;
  position: sticky;
  top: 0;
  min-height: 4rem;
  max-height: 4rem;
  
  
}
mat-sidenav-content .main-content {
  background-color: rgb(194, 229, 194);
  padding: 2rem;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
mat-sidenav-content mat-toolbar button{
  display: flex;
  float: right;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 0;
  margin: 0;
}

mat-sidenav-content mat-toolbar .non-active {
  min-width: 100px;
  display: flex;
  white-space:normal;
  border-radius: 0;
  align-items: center;
  line-height: 1rem;
  background-color: #04AA6D;
  color: white;
  align-self:stretch;
}
mat-sidenav-content mat-toolbar .active-link {
  background-color: #06b977;
}
.mat-sidenav-content{
  position: sticky;
  top: 0;
  z-index: 1;
  background: white;
}

.example-spacer{
  flex: 1 1 auto;
}
@media (max-width: 600px) {
  mat-sidenav-content mat-toolbar .mobilehide{
    display: none;
    width: 0px;
  }
  mat-sidenav-content mat-toolbar .non-active {
    min-width: 60px;
    display: flex;
    white-space:normal;
    border-radius: 0;
    align-items: center;
    line-height: 1rem;
    background-color: #04AA6D;
    color: white;
    align-self:stretch;
  }
  mat-sidenav-content mat-toolbar .active-link {
    background-color: #06b977;
  }
}