<div class="PanelContentContainer">
    <div class="FormFields">
      <mat-form-field class="example-form-field">
        <mat-label>Enter Employee ID</mat-label>
        <input matInput type="number" [(ngModel)]="employeeIDSubmit">
        <button *ngIf="employeeIDSubmit" matSuffix mat-icon-button aria-label="Clear" (click)="employeeIDSubmit=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <br>
      <mat-form-field class="example-form-field">
        <mat-label>Enter First Name</mat-label>
        <input matInput type="text" [(ngModel)]="firstNameSubmit">
        <button *ngIf="firstNameSubmit" matSuffix mat-icon-button aria-label="Clear" (click)="firstNameSubmit=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <br>
      <mat-form-field class="example-form-field">
        <mat-label>Enter Last Name</mat-label>
        <input matInput type="text" [(ngModel)]="lastNameSubmit">
        <button *ngIf="lastNameSubmit" matSuffix mat-icon-button aria-label="Clear" (click)="lastNameSubmit=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <br>
      <mat-form-field class="example-form-field">
        <mat-label>Enter Travel Location</mat-label>
        <input matInput type="text" [(ngModel)]="travelLocationSubmit">
        <button *ngIf="travelLocationSubmit" matSuffix mat-icon-button aria-label="Clear" (click)="travelLocationSubmit=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <br>
      <mat-form-field class="example-form-field">
        <mat-label>Enter Travel Start Date</mat-label>
        <input matInput type="text" [(ngModel)]="travelStartSubmit">
        <button *ngIf="travelStartSubmit" matSuffix mat-icon-button aria-label="Clear" (click)="travelStartSubmit=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <br>
      <mat-form-field class="example-form-field">
        <mat-label>Enter Travel End Date</mat-label>
        <input matInput type="text" [(ngModel)]="travelEndSubmit">
        <button *ngIf="travelEndSubmit" matSuffix mat-icon-button aria-label="Clear" (click)="travelEndSubmit=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <button mat-raised-button (click)="insertOne()">Submit Project</button>
    </div>
</div>
