<div class="ArcStyleComponent">
    <h3>ArcGIS Angular Implementation Project</h3>
    <div id="viewDiv">
        <div class="SearchContainer">
            <h4>Auto Fill Location Demo</h4>
            <div id="searchDiv"></div>
            <div class="SearchResult">Address Output:</div>
            <div id="results" class="SearchResult"></div>
        </div>
        <div class="DirectionContainer">
            <h4>Point Drop Routing Demo</h4>
            <div id="mapDiv"></div>
            <div class="DirectionOutput">
                <div class="Dresult">
                    Drive Time:
                    <div id="DTresult"></div>
                </div>
                    
                <div class="Dresult">
                    Drive Distance:
                    <div id="DDresult"></div>
                </div>
            </div>
        </div>
    </div>
</div>

