<div class="ArcStyleComponent">
    <h3>ArcGIS Angular Implementation Project</h3>
    <div id="viewDiv">
        <div class="SearchContainer">
            <h4>Auto Fill Location Demo</h4>
            <div id="searchDiv"></div>
            <div class="SearchResult">
                <div>Address Output:</div>
                <div id="results"></div>
            </div>
        </div>
        <div class="DirectionContainer">
            <h4>Point Drop Routing Demo</h4>
            <div id="mapDiv"></div>
            <div class="DirectionOutput">
                <div class="DirectionResult">
                    Drive Time:
                    <div id="DriveTimeResult"></div>
                </div>
                    
                <div class="DirectionResult">
                    Drive Distance:
                    <div id="DriveDistanceResult"></div>
                </div>
            </div>
        </div>
    </div>
</div>

